@charset "UTF-8";
$color-cafe: #93592A;
 /*variación de cafe*/
 $cafe-hover: #bb7b4e;
$color-hueso: #F2EFEA;
$color-blanco: #FFFFFF;
$texto-color: #606060;
html,body{
	width: 100%;
	height: 100%;
	margin: 0px auto;
    overflow: hidden;
	position: absolute;
}
body{
	position: relative;
	overflow-y: scroll;
	z-index: 9;
}
/*resetear clases*/
p,a,strong,span,ul,ol,li,h1,h2,h3,h4{
	color: $texto-color;
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
	text-decoration: none;
	font-family: "Roboto";
}
h1,h2,h3,h4{
	font-size: xx-large;
	color: $color-cafe;
	margin: 20px auto;
}
.button,button{
	width: auto;
	height: auto;
	display: table;
	margin: 40px auto 10px;
	padding: 10px 20px;
	text-align: center;
	transition: all 0.2s;
	color: $color-blanco;
	background-color: $color-cafe;
	&:hover{
		transition: all 0.2s;
		background-color: $cafe-hover;
	}
	&:is(.btn-price){
		background-color: transparent ;
		color: $color-cafe;
		font-weight: bold;
		font-size: large;
		&:hover{
			color: $cafe-hover;
		}
	}
}
button{
    border: none;
    outline: none;
    margin: 20px auto;
    font-size: x-large;
}
/*Background Hueso*/
.backgroundHueso{
	background-color: $color-hueso;
}

#GaleriaProductos{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
#GaleriaProductos div{
	overflow: hidden;
}
#GaleriaProductos div img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
#GaleriaProductos .ImgPrincipal { grid-area: 1 / 1 / 5 / 4; }
#GaleriaProductos .GalleryImg1 { grid-area: 5 / 1 / 6 / 2; }
#GaleriaProductos .GalleryImg2 { grid-area: 5 / 2 / 6 / 3; }
#GaleriaProductos .GalleryImg3 { grid-area: 5 / 3 / 6 / 4; }

.MapaContent div.IframeMpas{
	width: 100%;
	height: 350px;
	padding: 20px 0px;
	box-sizing: border-box;
}
.MapaContent iframe{
	width: 100%;
	height: 100%;
}

input,textarea{
	width: 100%;
	height: 30px;
	padding: 5px;
	outline: none;
	margin: 5px 0 10px;
	color: $texto-color;
	font-family: "Roboto";
	box-sizing: border-box;
	border: 2px solid $color-cafe;
}
textarea{
	resize: none;
	height: 250px;
}
label{
	font-size: large;
	color: $color-cafe;
	font-family: "Roboto";
}

/*extenciones css*/
%TransformCenter{
	top: 50%;
	left: 50%;
	position: relative;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}