/*section styles*/
main{
	margin-top: 120px;
	position: relative
}
main > section.two{
	width: 100%;
	height: 100vh;
	padding: 30px 15px;
	box-sizing: border-box;
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	grid-template-rows: 1fr; 
  	gap: 5px;
}
main > section.two > div{
	height: auto;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
	vertical-align: top;
	display: inline-block;
	overflow: hidden;
}
main > section.two > div article{
	width: 80%;
	height: auto;
	display: table;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
div.image-content{
	width: 100%;
	height: 100%;
	display: block;
	margin: 0px auto;
	
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.3s;
		object-position: center;
	}
}


/*secion cards*/
section.cards{
	box-sizing: border-box;
	padding: 50px 20px 30px;
}
section.cards > h2{
	margin: 10px auto 20px;
	font-size: xx-large;
	text-align: center;
}
section.cards div.container-cards{
	width: 90%;
	height: auto;
    display: grid;
	grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
	justify-content: center;
	margin: 20px auto;
	article{
		width: auto;
		padding: 25px;
		text-align: center;
		position: relative;
		div.image{
			width: 100%;
			height: 250px;
			display: block;
			overflow: hidden;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				@extend %TransformCenter;
				transition: all 0.3s;
				&:hover{
					width: 110%;
					height: 110%;
				}
			}
		}
	h3{
		font-size: large;
		text-align: center;
		margin: 20px auto;
	}
	p{
		text-align: center;
		line-height: 2;
	}
	}
}

@media screen and (max-width:1000px){
	section.cards div.container-cards{
		grid-gap: 10px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}	
}
@media screen and (max-width:850px){
	
	main > section.two{
		grid-template-columns: 1fr; 
		grid-template-rows: 1fr 1fr; 
		gap: 5px;
	}
	main > section#contacto{
		height: auto;
	}
}
